APP_NAME="Smart Gate"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8080/smart-gate
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=smart_gate
DB_USERNAME=smart_gate
DB_PASSWORD=change-me
ESP32_DEVICE_ID=180503
ESP32_DEVICE_KEY=change-me
MQTT_HOST=mosquitto
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
